<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lhy.office.mapper.FunctionMapper">

	<resultMap type="com.lhy.office.entity.Function" id="BaseResult">
		<id column="funid" property="funId" jdbcType="INTEGER"/>
		<result column="funname" property="funName" jdbcType="VARCHAR"/>
		<result column="funpid" property="funPid" jdbcType="INTEGER"/>
		<result column="funurl" property="funUrl" jdbcType="VARCHAR"/>
		<result column="funstate" property="funState" jdbcType="INTEGER"/>
	</resultMap>
	
	<sql id="BaseSql">
		select 
			funid,
			funname,
			funpid,
			funurl,
			funstate
		from 
		tb_function
	</sql>
	
	<sql id="BaseWhere">
		where 1=1
		<if test="funId!=null">
			and tb_function.funid=#{funId}
		</if>
		<if test="funName!=null">
			and tb_function.funname=#{funName}
		</if>
		<if test="funPid!=null">
			and tb_function.funpid=#{funPid}
		</if>
		<if test="funUrl!=null">
			and tb_function.funurl=#{funUrl}
		</if>
		<if test="funState!=null">
			and tb_function.funstate=#{funState}
		</if>
	</sql>

	
	<!-- 级联查询结果集 -->
	<resultMap id="CascadeResultMap" type="com.lhy.office.entity.Function">
		<id column="funid" jdbcType="INTEGER" property="funId" />
		<result column="funname" jdbcType="VARCHAR" property="funName" />
		<result column="funpid" jdbcType="INTEGER" property="funPid" />
		<result column="funurl" jdbcType="VARCHAR" property="funUrl" />
		<result column="funstate" jdbcType="INTEGER" property="funState" />
		<!-- 封装关联的父功能 -->
		<association property="parentFunction" javaType="com.lhy.office.entity.Function">
			<id column="parentFunid" property="funId"/>
			<result column="parentFunname" property="funName"/>
		</association>
	</resultMap>
	
	<sql id="CascadeSql">
		SELECT
			tb_function.funid,
			tb_function.funname,
			tb_function.funpid,
			tb_function.funurl,
			tb_function.funstate,
			parent.funname parentFunname,
			parent.funid parentFunid
		FROM
			tb_function
		INNER JOIN 
			tb_function AS parent 
		ON 
			tb_function.funpid = parent.funid
	</sql>
	
	<select id="getFunctions" parameterType="com.lhy.office.entity.Function" resultMap="BaseResult">
		<include refid="BaseSql"></include>
		<include refid="BaseWhere"></include>
	</select>
	
	<select id="selectByKeyWord" parameterType="com.lhy.office.entity.Function" resultMap="CascadeResultMap">
		<include refid="CascadeSql"></include>
		<include refid="BaseWhere"></include>
	</select>
	
	<update id="updateFunction" parameterType="com.lhy.office.entity.Function">
		update tb_function 
		<set>
			<if test="funState!=null">
				funstate = #{funState}
			</if>
		</set>
		where funid =#{funId}
	</update>
	
	<insert id="addFunction" parameterType="com.lhy.office.entity.Function" useGeneratedKeys="true" keyColumn="funid">
		insert into tb_function
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="funName!=null">
				funname,
			</if>
			<if test="funPid!=null">
				funpid,
			</if>
			<if test="funUrl!=null">
				funurl,
			</if>
			<if test="funState!=null">
				funstate,
			</if>
		</trim>
		<trim prefix="values(" suffix=")" suffixOverrides=",">
			<if test="funName!=null">
				#{funName},
			</if>
			<if test="funPid!=null">
				#{funPid},
			</if>
			<if test="funUrl!=null">
				#{funUrl},
			</if>
			<if test="funState!=null">
				#{funState},
			</if>
		</trim>
	</insert>
</mapper>